@tailwind base;
@tailwind components;
@tailwind utilities;

/* overriding default properties for inner html provided in JobDesc.tsx */
@layer base {
  ul,
  ol {
    list-style: revert;
    font-size: medium;
  }
  p {
    font-size: medium;
  }
  li {
    margin-left: 1em;
  }
}
